@import url("./index.scss");
$terminal-background-color: #000;

body {
  overflow-x: hidden;
  width: 100%;
  min-width: 550px;
  min-height: 99%;
  padding: 16px;
  margin: 0;
  color: #519975;
  font-family: cursor, monospace;
  background: #211d1b;
  cursor: text;
}

.command {
  color: #73abad;
  text-shadow: 0 0 5px #73abad;
}

.index {
  color: #dcdccc;
}

.color2 {
  color: #b89076;
}
